/*
  this file is used to define global styles that are used across the entire application.
*/

:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: steelblue;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Ribeye", cursive;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-wrapper {
  transform: scale(3);
  transform-origin: center center;
  display: inline-block;
}

@supports (zoom: 1) {
  .game-wrapper {
    transform: none;
    zoom: 3;
  }
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px solid white;
}

.game-container canvas {
  display: block;
  width: 352px;
  height: 198px;
  background: #333;
  image-rendering: pixelated;
}
